* {
  padding: 0;
  margin: 0
}
html {
  height: 100%
}
a,
button {
  color: #3b6bbf;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
.applicationDesc {
  color: #81888f;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
.applicationDesc:hover,
a:hover,
button:hover {
  color: #495057;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
button {
  border: none;
  cursor: pointer;
  color: #3b6bbf;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  color: #495057;
  background-attachment: fixed;
  background-size: 100% 100%;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
.background {
  background-color: #f8f8ff;
  height: 100%
}
p {
  line-height: 32px;
  font-size: 17px;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  text-decoration: none;
  color: #495057;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
.content {
  min-height: 3rem;
  padding: 1rem;
  margin: 1.5rem;
  display: inline-block;
  border: 1px solid #d9d9d6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc;
  background: #f8f8ff;
  min-width: 95%
}
.application-info,
.extended-info {
  min-height: 3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: inline-block;
  border: 1px solid #d9d9d6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc;
  background: #f8f8ff;
  min-width: 95%
}
h1 {
  margin-right: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  color: #41465f;
  border: 1px solid #dee2e6;
  border-radius: 2px 2px 0 0;
  padding-left: 5%
}
h2,
h3 {
  margin-right: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 25px;
  text-transform: uppercase;
  color: #41465f;
  border-radius: 2px 2px 0 0;
  width: 90%;
  padding-left: 5%
}
h4 {
  margin-right: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 20px!important;
  text-transform: uppercase;
  color: #41465f;
  border: 1px solid #dee2e6;
  border-radius: 2px 2px 0 0;
  width: 90%;
  padding-left: 5%
}
.showhider {
  margin-right: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  text-transform: uppercase;
  background: 0 0!important;
  border: none;
  padding: 0!important;
  width: 90%;
  color: #3b6bbf;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0;
  text-align: left
}
#links .showhider {
  font-size: 25px
}
.section-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px
}
ul {
  margin-left: 2rem;
  list-style: none
}
li {
  min-height: 3rem;
  padding: .5rem;
  background: #dee2e6;
  border: 1px solid #dee2e6;
  width: 64%;
  min-width: 64%;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc;
  margin: .5rem .5rem .5rem 32%
}
#readyness {
  float: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  width: 42%;
  min-width: 42%;
  background: #dee2e6;
  text-align: center!important;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
#onboarding {
  min-height: 5rem;
  padding: .5rem;
  margin: .5rem;
  margin-top: 4rem;
  width: 42%;
  min-width: 42%;
  font-size: 2rem;
  background: #a48fe1;
  text-align: center!important;
  border: 1px solid #a48fe1;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
#i2pbrowser-description {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
  min-width: 50%;
  display: inline-block;
  background: #dee2e6;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
#applicationExplain,
#controlExplain,
#linksExplain {
  min-height: 5rem;
  padding: .5rem;
  margin: .5rem;
  width: 30%;
  min-width: 30%;
  background: #dee2e6;
  float: left;
  text-align: center!important;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
#proxyReady {
  min-height: 3rem;
  padding: .5rem;
  margin: .2rem;
  width: 38%;
  min-width: 38%;
  display: inline-block;
  background: #d9d9d6;
  float: right;
  text-align: center!important;
  border: 1px solid #d9d9d6;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
#proxyUnready {
  min-height: 3rem;
  padding: .5rem;
  margin: .2rem;
  width: 38%;
  min-width: 38%;
  display: inline-block;
  float: right;
  text-align: center!important;
  border: 1px solid #ffc56d;
  border-radius: 2px;
  background: #ffc56d;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
#consoleOn {
  min-height: 3rem;
  padding: .5rem;
  margin: .2rem;
  width: 38%;
  min-width: 38%;
  display: inline-block;
  float: left;
  text-align: center!important;
  border: 1px solid #f7e59a;
  border-radius: 2px;
  background: #f7e59a;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
.onboardingContent {
  font-size: .8rem!important;
  text-align: left;
  display: none
}
#info-content {
  display: none
}
.consoleOn:hover #proxy-check,
.proxyReady:hover #proxy-check {
  visibility: visible;
  opacity: 1
}
img {
  max-width: 100%
}
img.readyness {
  height: 100%;
  width: auto
}
@media only screen and (max-width: 399px) {
  .application-info {
    display: none
  }
}