* {
  padding: 0;
  color: #1f1a24;
  margin: 0
}
a,
button {
  color: #1f1a24;
  text-decoration: none;
  background: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0;
  padding: 3px;
  margin: auto
}
.applicationDesc {
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
.applicationDesc:hover,
a:hover,
button:hover {
  color: #495057;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
button {
  border: none;
  cursor: pointer;
  color: #3b6bbf;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
body {
  display: flex;
  flex-direction: column;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  margin: 0 auto;
  padding: 0;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
.button-list {
  min-height: 230px;
  min-width: 230px
}
.background {
  height: 100%
}
p {
  line-height: 32px;
  font-size: 17px;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0
}
.content {
  min-height: 3rem;
  padding: 1rem;
  margin: 1.5rem;
  display: block;
  border-radius: 2px;
  min-width: 100%
}
#header,
.application-info,
.browser-info,
.extended-info,
.search-info {
  min-height: 3rem;
  padding: 1rem;
  margin-top: 1.5rem;
  display: block;
  border-radius: 2px;
  min-width: 100%
}
h1 {
  margin: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #e6e6e7;
  background: #1f1a24;
  width: 100%;
  border-radius: 2px 2px 0 0
}
h2,
h3 {
  margin-right: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 25px;
  color: #e6e6e7;
  border-radius: 2px 2px 0 0;
  background: #1f1a24;
  width: 100%;
  padding-left: 5%
}
h4 {
  margin-right: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  font-weight: 600;
  font-size: 20px!important;
  color: #41465f;
  border-radius: 2px 2px 0 0;
  background: #1f1a24;
  width: 100%;
  padding-left: 5%
}
.showhider {
  margin-right: auto;
  font-family: "Droid Sans","Noto Sans",Ubuntu,"Segoe UI","Lucida Grande",Verdana,Helvetica,sans-serif;
  border: none;
  padding: 0!important;
  color: #3b6bbf;
  text-decoration: none;
  font-weight: 700;
  word-wrap: break-word;
  outline: 0;
  text-align: left
}
#links .showhider {
  font-size: 25px
}
.section-header {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px
}
ul {
  margin: auto;
  border-radius: 2px;
  width: 100%;
  margin: 0;
  padding: 0
}
li {
  display: block;
  text-align: center;
  margin: 0;
  padding: 0
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
}
#readyness {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin: 1rem;
  width: 42%;
  min-width: 42%;
  text-align: center!important;
  border-radius: 2px;
  display: block
}
#onboarding {
  min-height: 5rem;
  padding: .5rem;
  margin: .5rem;
  margin-top: 4rem;
  width: 42%;
  min-width: 42%;
  font-size: 2rem;
  text-align: center!important;
  border-radius: 2px
}
#i2pbrowser-description {
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 50%;
  min-width: 50%;
  display: block
}
html body ul.label-list li {
  list-style: none;
  float: left
}
html body ul.label-list li:nth-child(odd) {
  clear: left
}
#linksExplain {
  min-height: 5rem;
  padding: .5rem;
  margin: .5rem;
  width: 30%;
  min-width: 30%;
  text-align: center!important;
  border-radius: 2px
}
#applicationExplain,
#controlExplain {
  min-height: 5rem;
  padding: .5rem;
  margin: .5rem;
  text-align: left!important;
  float: left
}
#proxyReady {
  min-height: 3rem;
  padding: .5rem;
  margin: .2rem;
  width: 38%;
  min-width: 38%;
  display: block;
  float: right;
  text-align: center!important
}
#proxyUnready {
  min-height: 3rem;
  padding: .5rem;
  margin: .2rem;
  width: 38%;
  min-width: 38%;
  display: block;
  float: right;
  text-align: center!important
}
#consoleOn {
  min-height: 3rem;
  padding: .5rem;
  margin: .2rem;
  width: 38%;
  min-width: 38%;
  display: block;
  float: left;
  text-align: center!important
}
.tabicon {
  min-width: 64px;
  min-height: 64px
}
li.application {
  text-align: left
}
button.applicationName {
  width: auto
}
.onboardingContent {
  font-size: .8rem!important;
  text-align: left;
  display: none
}
#info-content {
  display: none
}
.consoleOn:hover #proxy-check,
.proxyReady:hover #proxy-check {
  visibility: visible;
  opacity: 1
}
img {
  max-width: 100%;
  margin: 3%
}
img.readyness {
  height: 100%;
  width: auto
}
input {
  color: #1f1a24
}
#hidden {
  display: none
}
.hidden {
  display: none
}