body,
html {
  width: 400px
}
.panel {
  margin: 5px;
  width: 400px;
  height: 400px
}
.panel-section-header {
  width: 400px
}
#text-section-torrents-header {
  width: 400px
}
span.identity {
  width: 400px;
  display: block;
  margin-left: 1em
}
figcaption {
  display: block
}
.section-header {
  margin-bottom: 8px
}
p {
  font-size: 12px
}
h1 {
  font-size: 25px
}
h2,
h3 {
  font-size: 18px
}
h4 {
  font-size: 13px!important
}
#links .showhider {
  font-size: 18px
}
#onboarding {
  font-size: 2rem
}
img.readyness {
  height: 2rem
}
#proxyUnready {
  min-height: 2rem
}
#proxyReady {
  min-height: 2rem
}
#consoleOn {
  min-height: 2rem
}
#torrentpanel {
  display: none
}
.torrent-progress {
  width: 100%
}
.tabicon {
  width: 32px
}