.topnav {
  overflow: hidden;
  min-height: 3rem;
  padding: .5rem;
  background: #dee2e6;
  border: 1px solid #dee2e6;
  width: 64%;
  min-width: 64%;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc;
  margin: .5rem .5rem .5rem 32%
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px
}
.topnav a:hover {
  background-color: #ddd
}
.topnav a.active {
  background-color: #2196f3;
  color: #fff
}
.topnav input[type=search] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px
}
.topnav input[type=submit] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px
}
@media screen and (max-width: 600px) {
  .topnav a,
  .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px
  }
  .topnav input[type=text] {
    border: 1px solid #ccc
  }
}