.topnav {
  overflow: hidden;
  min-height: 3rem;
  padding: .5rem;
  min-width: 64%;
  border-radius: 2px;
  box-shadow: inset 0 0 0 1px #fff,0 0 1px #ccc
}
.topnav a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 16px
}
.topnav a:hover {
  background-color: #ddd
}
.topnav a.active {
  background-color: #2196f3;
  color: #fff
}
.topnav input[type=search] {
  padding: 6px;
  border: none;
  margin-top: 8px;
  color: #e6e6e7;
  margin-right: 16px
}
.topnav input[type=submit] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  color: #e6e6e7;
  margin-right: 16px
}
#search-query {
  color: #1f1a24
}
#search-submit {
  color: #1f1a24
}