li {
    width: 90%;
    margin-left: 0
}

li.toopie {
    width: fit-content;
    margin-left: 0;
    display: inline-table!important;
    min-width: 30%;
    max-width: 30%
}

ul {
    width: 100%
}

button {
    width: 45%;
    text-align: center
}

#applicationExplain {
    float: unset
}

.button-list {
    display: inline
}

#hidden {
    display: none
}

.hidden {
    display: none
}

.toopiebody {
    min-width: 400px
}