li {
  width: 90%;
  margin-left: 0
}
ul {
  width: 100%
}
button {
  width: 50%;
  text-align: center
}
#applicationExplain {
  float: unset
}
.button-list {
  display: inline
}
#hidden {
  display: none
}
.hidden {
  display: none
}